<legend><h2>Permanent Account Sign up</h2></legend>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
  (PROTECT your identity. Provide a "throwaway" address, NOT your primary e-mail.)
  <br />

  Yahoo mail gives you a seconday E-Mail address in about 2 minutes:
  <br />

    <a href='https://edit.yahoo.com/registration' target='y'>
    https://edit.yahoo.com/registration
    </a>

  <br />
  <br />
  <div><%= f.label :email %>:
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>:
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Permanent Sign Up" %></div>
  </fieldset>
<% end %>

<p>
If you don't want to provide an E-Mail address, we are okay with that.
<br />
We allow you to create a temporary account which will evaporate 2 months after your last login.
</p>

<h2>OR ... Temporary (2 Month) Account Sign up</h2>
<% @usr = Usr.new %>
<%= form_for @usr do |f| %>
  <% if @usr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usr.errors.count, "error") %>
        prohibited this usr from being saved:</h2>
      <ul>
      <% @usr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

  <div>
    <%= f.label :name %> (NOT E-Mail):
    <%= f.text_field :name, size: 40 %>
  </div>

  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, size: 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div>
    <%= f.submit "2 Month Sign Up" %>
  </div>

  </fieldset>
<% end %>

