= form_for @mrk do |f|
  -if @mrk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mrk.errors.count, "error")} prohibited this mrk from being saved:"
      %ul
        - @mrk.errors.full_messages.each do |msg|
          %li= msg

  .field
    URL (http, https, ftp)
    %br/
    - if @mrk.uurl.blank?
      = f.url_field :uurl, {:value => 'http://',:size => 79}
    - else
      = f.url_field :uurl, {:size => 79}

  .field
    Tag1
    %br/
    = f.text_field :tag1
  .field
    Tag2
    %br/
    = f.text_field :tag2
  .field
    Tag3
    %br/
    = f.text_field :tag3
  .field
    Any notes about this Bookmark?
    %br/
    = f.text_area :note, :rows => 6, :cols => 79
  .actions
    = f.submit 'Save'
