%h1 Book Marks!

%table
  %tr
    %th The URL
    %th Temp Owner
    %th Perm Owner
    %th Tag1
    %th Tag2
    %th Tag3
    %th Note
    %th
    %th
    %th

  - @mrks.each do |mrk|
    %tr
      %td
        - if(URI.parse(mrk.uurl).scheme.present?)
          %a(href='#{mrk.uurl}' target='u') #{mrk.uurl}
        - else
          mrk.uurl
      %td= mrk.usr_id
      %td= mrk.user_id
      %td= mrk.tag1
      %td= mrk.tag2
      %td= mrk.tag3
      %td= mrk.note
      %td= link_to 'Show', mrk
      %td= link_to 'Edit', edit_mrk_path(mrk)
      %td= link_to 'Destroy', mrk, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Mrk', new_mrk_path
