%legend
  %h1 Book Marks!

%table
  %tr
    %th The URL
    %th Owner
    %th Tag1
    %th Tag2
    %th Tag3
    %th Note
    %th Date
    - if session[:usr] == 'Guest'
      / nada
    - else
      %th
      %th

  - @mrks.each do |mrk|
    %tr
      %td=render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}
      %td
        - if mrk.owner_h[:owner_type] == :user
          %a(href='#{get_user_show_path(mrk.owner_h[:owner_id])}')=mrk.owner_h[:name_or_email]
        - else
          %a(href='#{usr_path(mrk.owner_h[:owner_id])}')=mrk.owner_h[:name_or_email]
      %td= mrk.tag1
      %td= mrk.tag2
      %td= mrk.tag3
      %td= mrk.note
      %td= mrk.updated_at.to_s[0..9]
      - if session[:usr] == 'Guest'
        / nada
      - else
        %td
          - if i_own?(mrk)
            = link_to 'Edit', edit_mrk_path(mrk)
          - else
            x
        %td
          - if i_own?(mrk)
            = link_to 'Destroy', mrk, :confirm => 'Are you sure?', :method => :delete
          - else
            x

%br

= link_to 'Create New Bookmark!', new_mrk_path
