%legend
  %h1 A Bookmark
%p
  %b URL:
  = render :partial => "shared/mrk_uurl", :locals => {:mrk => @mrk}
%p
  %b Owner of this Bookmark:
  - if @mrk.owner_h[:owner_type] == :user
    %a(href='#{get_user_show_path(@mrk.owner_h[:owner_id])}')=@mrk.owner_h[:name_or_email]
  - else
    %a(href='#{usr_path(@mrk.owner_h[:owner_id])}')=@mrk.owner_h[:name_or_email]

%p
  %b Tag1:
  = @mrk.tag1
%p
  %b Tag2:
  = @mrk.tag2
%p
  %b Tag3:
  = @mrk.tag3
%p
  %b Note:
  = @mrk.note
