%legend
  %h1 A Bookmark
%p
  %b URL:
  = @mrk.uurl
- case
- when @mrk.usr.present?
  %p
    %b Usr:
    = @mrk.usr.name
- when @mrk.user.present?
  %p
    %b User:
    = @mrk.user.email
%p
  %b Tag1:
  = @mrk.tag1
%p
  %b Tag2:
  = @mrk.tag2
%p
  %b Tag3:
  = @mrk.tag3
%p
  %b Note:
  = @mrk.note
