%table
  - @mrks.each do |mrk|
    %tr
      %td
        %a(href="http://www.google.com/search?q=#{mrk.uurl}" target="g") Goog-This->
        %span.bold.gray7 URL:
        =render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}
        %br/
        %span.bold.gray7 Owner:
        - if mrk.owner_h[:owner_type] == :user
          %a(href='#{get_user_show_path(mrk.owner_h[:owner_id])}')=mrk.owner_h[:name_or_email]
          - if(current_user.present? and mrk.user.present? and mrk.user.id == current_user.id)
            %span.bold.red8 -> Me!
        - else
          %a(href='#{usr_path(mrk.owner_h[:owner_id])}')=mrk.owner_h[:name_or_email]
        %br/
        - if mrk.tag1.present?
          %a(href="http://www.google.com/search?q=#{mrk.tag1}" target="g") Goog-This->
          %span.bold.gray7 Tag1:
          %a(href="#{get_tag_mrks_path(mrk.tag1)}")= mrk.tag1
          %br/
        - if mrk.tag2.present?
          %a(href="http://www.google.com/search?q=#{mrk.tag2}" target="g") Goog-This->
          %span.bold.gray7 Tag2:
          %a(href="#{get_tag_mrks_path(mrk.tag2)}")= mrk.tag2
          %br/
        - if mrk.tag3.present?
          %a(href="http://www.google.com/search?q=#{mrk.tag3}" target="g") Goog-This->
          %span.bold.gray7 Tag3:
          %a(href="#{get_tag_mrks_path(mrk.tag3)}")= mrk.tag3
          %br/
        %span.bold.gray7 Bookmark Date:
        = mrk.updated_at.to_s[0..9]
        - if session[:usr] == 'Guest'
          / nada
        - else
          - if i_own?(mrk)
            %br/
            = link_to 'Edit', edit_mrk_path(mrk)
            %span.bold.gray7 This Bookmark
        - if mrk.note.present?
          %br/
          %span.bold.gray7 Bookmark Notes:
          %br/
          = mrk.note
        %hr/
        %br/

= paginate @mrks

%br/

= link_to 'Create New Bookmark!', new_mrk_path
