%h1 Listing usrs

%table
  %tr
    %th Name
    %th Password digest
    %th
    %th
    %th

  - @usrs.each do |usr|
    %tr
      %td= usr.name
      %td= usr.password_digest
      %td= link_to 'Show', usr
      %td= link_to 'Edit', edit_usr_path(usr)
      %td= link_to 'Destroy', usr, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Usr', new_usr_path
