!!! 5
%html
  %head
    %title marks4.us
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %table
      %tr#tr1
        %td(colspan="2")
          %header
            %fieldset
              %legend
                %a.bold30px(href="#{sslhost}/") marks4.us
              Our (and YOUR) Database full of bookmarks
              -if alert.present?
                .alert.black_border=alert
              -if notice.present?
                .notice.black_border=notice
      %tr#tr2
        %td.vertical_align_top.width200
          You are logged in as a
          %br/
          - if usr_disp[:name_or_email] == 'Guest'
            %span.bold.dark_green Guest
          - else
            %a(href="/#account_types")
              #{usr_disp[:acct_type]}
            %br/
            You:
            %br/
            - case
            - when current_user.present?
              %a(href="#{get_user_show_path(current_user.id)}") #{current_user.email}
            - when session[:usr].present?
              %a(href="#{usr_path(session[:usr_id])}") #{session[:usr]}
            - else
              %span.bold.dark_green Guest
          %hr/
          %nav.bold.black_border.padding10.float_left.margin10.blocks_others
            %a(href="#{sslhost}#{new_session_path('user')}") Sign In
            %a(href="#{sslhost}#{new_registration_path('user')}") Sign Up
            %a(href="#{sslhost}#{destroy_user_session_path}") Sign Out
            %hr/
            %a(href="#{sslhost}/mrks") Bookmarks!
            %a(href="#{sslhost}#{get_users_index_path}") Permanent Accounts
        %td.vertical_align_top
          %article.padding10.float_left.margin10
            %fieldset
              =yield
      %tr#tr3
        %td.black_border(colspan="2")
          %footer
            %a(href="#{sslhost}/") marks4.us 
            %span 2012

