!!! 5
%html
  %head
    %title marks4.us
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %table
      %tr#tr1
        %td.black_border(colspan="2")
          %header
            %a.bold30px(href="#{sslhost}/") marks4.us
          -if alert.present?
            .alert.black_border=alert
          -if notice.present?
            .notice.black_border=notice
      %tr#tr2
        %td.vertical_align_top.width160
          You are logged in as:
          %br/
          - if usr_disp == 'Guest'
            %span.bold.dark_green Guest
          - else
            %a(href="#{sslhost}#{edit_user_password_path('user')}")
              =truncate(usr_disp, :length => 15)
          %hr/
          %nav.bold.black_border.padding10.float_left.margin10.blocks_others
            %a(href="#{sslhost}#{new_session_path('user')}") Sign In
            %a(href="#{sslhost}#{new_registration_path('user')}") Sign Up
            %a(href="#{sslhost}#{destroy_user_session_path}") Sign Out
        %td
          %article.padding10.float_left.margin10.black_border
            =yield
      %tr#tr3
        %td.black_border(colspan="2")
          %footer
            %a(href="#{sslhost}/") marks4.us 
            %span 2012

